.large {
  font-size: 1.2em; }

.box-inner-p.entry-overlay {
  padding: 30px;
  max-width: 500px; }
  @media screen and (min-width: 1040px) {
    .box-inner-p.entry-overlay {
      padding: 30px 120px 30px 30px; } }

.row .gridlove-post {
  min-height: 350px;
  max-height: none;
  height: auto; }
  .row .gridlove-post .entry-image.background {
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat; }
    @media screen and (max-width: 1040px) {
      .row .gridlove-post .entry-image.background {
        background-position: center center; } }
  .row .gridlove-post .entry-image img {
    height: 350px; }
  .row .gridlove-post .entry-image a:after {
    background: transparent; }

.row .desc .gridlove-post {
  min-height: 290px; }

.row .entry-overlay .box-inner-ellipsis {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px 15px 40px;
  height: 200px;
  max-height: 200px; }
  .row .entry-overlay .box-inner-ellipsis h2, .row .entry-overlay .box-inner-ellipsis a, .row .entry-overlay .box-inner-ellipsis p, .row .entry-overlay .box-inner-ellipsis h3 {
    color: black; }

.row .entry-overlay .entry-meta {
  position: relative;
  padding-left: 15px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  padding-bottom: 5px; }
  .row .entry-overlay .entry-meta .meta-item {
    color: black; }

#header {
  margin-bottom: 6px; }

#cover {
  min-height: 500px !important; }
  #cover .gridlove-cover-item {
    height: 100% !important; }
    #cover .gridlove-cover-item .gridlove-cover-bg {
      height: 100% !important; }
      #cover .gridlove-cover-item .gridlove-cover-bg a {
        height: 100% !important; }
        #cover .gridlove-cover-item .gridlove-cover-bg a:before, #cover .gridlove-cover-item .gridlove-cover-bg a:after {
          display: none; }
    #cover .gridlove-cover-item .gridlove-cover-content .entry-header {
      padding: 30px;
      margin-left: 0; }
      #cover .gridlove-cover-item .gridlove-cover-content .entry-header .box-inner {
        background-color: white;
        padding: 30px;
        color: black !important; }
        #cover .gridlove-cover-item .gridlove-cover-content .entry-header .box-inner h2, #cover .gridlove-cover-item .gridlove-cover-content .entry-header .box-inner h1, #cover .gridlove-cover-item .gridlove-cover-content .entry-header .box-inner p, #cover .gridlove-cover-item .gridlove-cover-content .entry-header .box-inner a {
          color: black; }
    #cover .gridlove-cover-item .gridlove-cover-content .entry-meta {
      position: relative;
      padding-left: 30px;
      width: 100%; }
      #cover .gridlove-cover-item .gridlove-cover-content .entry-meta .meta-item {
        color: black;
        margin-top: 30px; }
        @media screen and (max-width: 1040px) {
          #cover .gridlove-cover-item .gridlove-cover-content .entry-meta .meta-item {
            margin-top: 0px; } }
        @media screen and (max-width: 580px) {
          #cover .gridlove-cover-item .gridlove-cover-content .entry-meta .meta-item {
            margin-top: -15px; } }

.page .box-inner-p-bigger.box-single {
  padding: 70px 0 70px 0; }
  .page .box-inner-p-bigger.box-single .contactformpie {
    padding: 50px 0; }

@media screen and (max-width: 1040px) {
  #content.container {
    max-width: none; }
    #content.container .gridlove-content {
      flex: 1;
      max-width: none; } }

.post .box-inner-p-bigger.box-single {
  padding-top: 70px;
  max-width: 800px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0; }

.gridlove-cat {
  padding-left: 30px !important; }

.category-ervaringen .box-single.box-inner-p-bigger {
  padding-top: 15px; }

.category-ervaringen .gridlove-cat {
  display: none; }

#content .col-lg-6 {
  display: block;
  visibility: visible;
  background: transparent; }

.semi {
  font-weight: 600; }
